#parse("/admin/header.vm")	
 	
    <div class="container">
	<div class="col-md-3">
      <form class="form-signin" role="form" action="/login_admin" method="POST">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="hidden" name="action" value="login">
        <input type="email" class="form-control" placeholder="Email address" name="email" required autofocus>
        <input type="password" class="form-control" placeholder="Password" name="password" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
		<div class="col-md-6">
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</div>
		<div class="col-md-6">
			
		</div>
      </form>
	  <div class="col-md-12">
			<a href="$loginURL">or login with Google Account</a>
		</div>		
	</div>
    </div> <!-- /container -->
	
	#parse("/admin/footer.vm")
	
</body>

</html>
