#parse("/admin/header.vm")	
 	
	<div class="container">    
			<div class="page-header">
  				<h4>$className Editor 
	  				<span class="pull-right"><img src="/admin/icon/loading.gif" name="loading-indicator" style="display:none" /> 
	  					<span name="loading-msg"></span>
	  				</span>
  				</h4>
			</div>
		
		   	<form class="form-horizontal" data-async action="$basePath" method="post">
		   		<input type="hidden" name="action" value="">   
		   		<input type="hidden" name="name" value="$entity.getName()">   
				<fieldset>
							
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="newname">SKU</label>  
				  <div class="col-md-4">
				  	<input change-listener id="newname" name="newname" type="text" placeholder="placeholder" class="form-control input-md" value="$entity.getName()">
				  </div>
				</div>
				
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="title">Title</label>  
				  <div class="col-md-4">
				  	<input change-listener id="title" name="title" type="text" placeholder="placeholder" class="form-control input-md" value="$entity.getTitle()">
				  </div>
				</div>
				
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="fulldescription">Full Description</label>  
				  <div class="col-md-4">
				  	<textarea class="form-control" id="fulldescription" name="fulldescription">$entity.getFullDescription()</textarea>
				  </div>
				</div>
				
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="shortdescription">Short Description</label>  
				  <div class="col-md-4">
				  	<textarea class="form-control" id="shortdescription" name="shortdescription">$entity.getShortDescription()</textarea>
				  </div>
				</div>
				
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="productcategories">Categories</label>  
				  <div class="col-md-4">
				  	<input change-listener id="productcategories" name="productcategories" type="text" placeholder="" class="form-control input-md" value="$entity.getProductCategories()">
				  </div>
				</div>
				
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="baseprice">Base Price</label>  
				  <div class="col-md-1">
				  	<input change-listener id="baseprice" name="baseprice" type="text" placeholder="" class="form-control input-md" value="$entity.getBasePrice()">
				  </div>
				
				  <label class="col-md-2 control-label" for="compareprice">Compare Price</label>  
				  <div class="col-md-1">
				  	<input change-listener id="compareprice" name="compareprice" type="text" placeholder="" class="form-control input-md" value="$entity.getComparePrice()">
				  </div>
				</div>
				
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="quantity">Inventory Quantity</label>  
				  <div class="col-md-4">
				  	<input change-listener id="quantity" name="quantity" type="text" placeholder="" class="form-control input-md" value="$entity.getQuantity()">
				  </div>
				</div>
				
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="quantity">Thumbnail
				  </label>  
				  <div class="col-md-4">
				  	<input change-listener id="thumbnail" name="thumbnail" type="text" placeholder="" class="form-control input-md" value="$entity.getThumbnail()">
				  </div>
				  <div class="col-md-4">
				  	<img src="$entity.getThumbnail()" width="35px"/>
				  </div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="quantity">Image 1
				  </label>  
				  <div class="col-md-4">
				  	<input change-listener id="image1" name="image1" type="text" placeholder="" class="form-control input-md" value="$entity.getImage1()">
				  </div>
				  	<img src="$entity.getImage1()" class="media-object" width="35px" height="35px"/>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="quantity">Image 2
				  </label>  
				  <div class="col-md-4">
				  	<input change-listener id="image2" name="image2" type="text" placeholder="" class="form-control input-md" value="$entity.getImage2()">
				  </div>
				  <div class="col-md-4">
				  	<img src="$entity.getImage2()" width="35px"/>
				  </div>
				</div>

				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="quantity">Image 3
				  </label>  
				  <div class="col-md-4">
				  	<input change-listener id="image3" name="image3" type="text" placeholder="" class="form-control input-md" value="$entity.getImage3()">
				  </div>
				  <div class="col-md-4">
				  	<img src="$entity.getImage3()" width="35px"/>
				  </div>				  
				</div>
				
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="sortvalue">Sort Value</label>  
				  <div class="col-md-4">
				  	<input change-listener id="sortvalue" name="sortvalue" type="text" placeholder="" class="form-control input-md" value="$entity.getSortValue()">
				  </div>
				</div>
				
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="template">Template</label>  
				  <div class="col-md-4">
				  	<input change-listener id="template" name="template" type="text" placeholder="template default is 'default'" class="form-control input-md" value="$entity.getTemplate()">
				  </div>
				</div>
				
				<!-- Button (Double) -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="button1id"></label>
				  <div class="col-md-8">
				  	<button class="btn btn-default" type="submit" name="btSave" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save"><i class="fa fa-floppy-o"></i> Save</button>
				  	<button class="btn btn-default" type="submit" name="btCancel" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cancel"><i class="fa fa-undo"></i> Back</button>
				 	<a class="btn btn-default" name="previewLink" href="/product/${entity.name}" target="_blank"><i class="fa fa-eye"></i> View on frontend</a>  
				  	
				  </div>
				</div>
				</fieldset>
			</form>
	</div>
	
	#parse("/admin/footer.vm")
		<script src="/admin/js/admin.entity.edit.js"></script>
	
</body>

</html>
