<footer id="bottom" >
  <div class="container">
    <div class="row">
      <div class="col-md-3 openingtime">
        <h4 style="color:#CA0000"><i class="fa fa-home"></i> Adresse</h4>									
        <p><strong>$shopName</strong></p>
        <p>$!shopStreet $!shopHouseNumber</p>
        <p>$!shopZipcode $!shopCity</p>         
      </div> 
      <div class="col-md-3 openingtime">
          <h4 style="color:#CA0000"><i class="fa fa-envelope"></i> Kontakt</h4>
          <p><i class="fa fa-phone"></i> $shopTelephone</p>
          <p><i class="fa fa-print"></i> $shopFax</p>
          <p><i class="fa fa-anchor"></i> $siteUrl</p>
          
      </div>
      <div class="col-md-3 openingtime">
          <h4 style="color:#CA0000"><i class="fa fa-clock-o"></i> Öffnungszeiten</h4>
          $shopOpeningTime
      </div>
    </div>
    <hr>
	<p>$footer1</p>
	<p>$footer2</p>
  </div>

</footer>

<!-- Core JavaScript -->
<script src="/base/js/jquery-1.11.1.min.js"></script>
<script src="/base/plugins/jquery-ui/jquery-ui-1.10.4.min.js"></script>
<script src="/base/js/bootstrap.min.js"></script>

<!-- Plugins JavaScript -->
<script src="/base/plugins/lightbox/ekko-lightbox.js"></script>
<script src="/base/plugins/radios-to-slider/jquery.radios-to-slider.min.js"></script>
<script src="/base/plugins/barrating/jquery.barrating.min.js"></script>

<!-- Custom JavaScript -->
<script src="$theme/js/script.js"></script>	

$googleAnalytics